<%= link_to "◀️back to my Lists ", lists_path, data: {}, :class => "btn btn-outline-primary text-decoration-none" %>
<div class="container">
  <div class = "col-lg-18 ">
    <h2 class = "text-center">My List: <%= @list.name %></h2>
    <div class="d-flex m-2">
      <% @list.bookmarks.each do |bookmark| %>
        <div class="card m-2 " style="width: 18rem;">
          <img class="card-img-top rounded-lg" src="<%= bookmark.movie.poster_url %>" alt="movie poster">
          <div class="card-body">
            <p class="card-text ">Title: <%= bookmark.movie.title %></p>
          </div>
          <div class="card-body">
            <p class="card-text">Comment: <%= bookmark.comment %></p>
            <p class="card-text">rating:  <%="⭐" * bookmark.movie.rating %></p>
          </div>
            <div class="card-body">
             <%= link_to "", bookmark_path(bookmark.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, :class => "btn btn-danger fa-solid fa-trash-can text-light"%>
          </div>
        </div>
      <% end %>
    </div>
      <div class = "d-flex justify-content-between m-3">
        <%= button_to "Delete this List", @list, method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, :class => "btn btn-danger text-light"%>
      </div>
  </div>
</div>
  <div class="d-flex justify-content-center ">
    <div class = "col-lg-8 border m-2 justify-content-center">
      <h3 class = "text-center">Add to your List: <%= @list.name %></h3>
      <div class = "col-lg-12 d-flex justify-content-center m-2">
        <%= simple_form_for([@list, @bookmark]) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
          <%= f.association :movie %>
          <%= f.input :comment %>
          <%= f.submit "Add a Movie to yor List", data: {}, :class => "btn btn-success text-light" %>
        <% end %>
      </div>
    </div>
  </div>
